:root {
    /* BRAND COLORS */
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(30, 20%, 98%);

  --oak: hsl(35, 35%, 81%);
  --dark-oak: hsl(35, 35%, 75%);
  --light-oak: hsl(40, 23%, 95%);
  --light-oak-500: hsl(40, 23%, 92%);
  
  --ff-primary: hsl(202, 61%, 15%);
  --ff-secondary: hsla(203, 61%, 15%, 0.7);

  --accent-clr: hsl(42, 74%, 67%);
  --accent-secondary: hsl(15, 49%, 42%);

  --border-radius: 20px;
  --border-radius-sm: 10px;

  --padding: clamp(20px, 4vw, 80px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  outline: 1px solid var(--accent-secondary);
}

h1::selection, h2::selection, 
h3::selection, h4::selection, 
h5::selection, h6::selection , 
p::selection {
  background-color: var(--accent-secondary);
  color: white;
}

a::selection, ::selection {
  background-color: transparent;
}

img::selection {
  background-color: var(--light-oak);
}

html, body {
  max-width: 100vw;
  overflow-x: clip;
  overscroll-behavior: none;
}

body {
  background-color: var(--clr-primary);
  font-size: 16px;
}

a, ul, li {
  text-decoration: none;
  color: var(--ff-primary);
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ff-primary);
  line-height: 1.25;
  font-weight: 700;
  text-transform: capitalize;
}

h1 {
  font-size: clamp(38px, 6vw, 64px);
  text-transform: uppercase;
}

h5 {
  font-size: clamp(1.125rem, 2.4vw, 1.5rem);
  font-weight: 400;
  text-transform: none;
}

h6 {
  font-size: .875rem;
  font-weight: 800;
  color: var(--accent-secondary);
  text-transform: capitalize;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--ff-secondary);
}

.p-small {
  font-size: .875rem;
}

.p-xsmall {
  font-size: .75rem;
}

.p-large {
  font-size: 1.125rem;
}

.font-italic {
  font-style: italic;
}

.font-accent {
  color: var(--accent-clr);
  /* color: var(--dark-oak); */
}

.font-caps {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.stock {
  color: var(--accent-secondary);
  font-weight: 600;
}

.white {
  color: var(--clr-primary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button, .btn,
input[type='radio']:checked {
  min-width: fit-content;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: var(--ff-primary);
  background-color: var(--accent-clr);
  border: none;
  border-radius: var(--border-radius);
  padding-block: 1em;
  padding-inline: 2.25em;
  cursor: pointer;
  outline: none;
  outline-offset: 0px;
  border: 1px solid transparent;
}

button.btn:hover, .btn:hover {
  background-color: hsl(42, 74%, 62%);
}

button:focus, .btn:focus {
  outline: 1px solid var(--ff-primary);
  outline-offset: 0px;
}

.btn-sm {
  font-size: .75rem;
}

.btn-xs {
  font-size: .625rem;
}

.btn-outlined{
  background-color: transparent;
  border: 1px solid var(--ff-primary);
  border: 1px solid var(--ff-primary);
}

.btn-secondary {
  background-color: var(--accent-clr);
  /* background-color: transparent; */
  /* border: 1px solid var(--accent-clr); */
}

.btn_icon {
  background-color: transparent;
  width: 2em;
  height: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: .125em; */
  padding: 0;
  border-radius: .25em;
  background-color: transparent;
}

.btn_icon-sm {
  width: 1rem;
  height: 1rem;
}

.btn_icon:hover,
button.btn-outlined:hover {
  background-color: var(--light-oak);
}

button:disabled,
button:hover:disabled {
  /* background-color: var(--oak); */
  opacity: .5;
}

.background_container {
  width: 100%;
}

.content_container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 1.25rem;
  padding-block: 3.75rem;
  margin: 0 auto;
}

.border_lg {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.border_sm {
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.section {
  width: 100%;
  padding-block: 60px;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  gap: 40px;
}

/* Logo */
.logo_container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  text-align: center;
  gap: .375rem;
  color: var(--ff-primary);
}

.logo_container .left {
  text-align: left;
}

.brand_name {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.brand_info {
  font-size: .75rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1;
}

.font-accent-secondary {
  line-height: 1.5;
  color: var(--accent-secondary);
  font-weight: 500;
}

input {
  color: var(--ff-primary);
  font-size: .875rem;
  padding-block: .75em;
  padding-inline: 1em;
  border-radius: 20em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

label {
  position: relative;
  cursor: pointer;
}

label:hover input {
  background-color: var(--light-oak);
}

input:focus {
  outline: 2px solid var(--accent-secondary);
  outline-offset: -2px;
}

.radio_label {
  color: var(--ff-primary);
  font-size: .625rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding-block: .75em;
  padding-inline: 2.25em;
  background-color: transparent;
  border: 1px solid var(--ff-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25em;
  min-width: fit-content;
  cursor: pointer;
}

input[type='radio'],
input[type='radio']:checked {
  visibility: hidden;
  position: absolute;
  inset: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.radio_label:has([type='radio']:checked) {
  background-color: var(--accent-clr);
  border: 1px solid transparent;
}

.radio_label:has([type='radio']):hover {
  background-color: var(--light-oak);
}
.radio_label:has([type='radio']:checked):hover {
  background-color: hsl(42, 74%, 62%)
}




@media only screen and (min-width: 800px){
  .section {
    padding-block: 80px;
    gap: 60px;
  }

}