.hero_header {
    display: none;
}

.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-top: 60px;
}

.benefit {
   position: relative;
   z-index: 0;
}

.sub_header {
    text-align: center;
}

.benefit::before {
    content: '';
    position: absolute;
    top: -20px;
    width: 20px;
    height: 2px;
    background-color: var(--ff-secondary);
    border-radius: var(--border-radius-sm);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.shop_fixed {
    --margin: 20px;
    width: calc(100% - (var(--margin)*2));
    position: fixed;
    bottom: 20px;
    left: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop {
    display: none;
}

.paws {
    display: none;
}

@media only screen and (min-width: 500px) {
    .shop_fixed {
        /* width: max-content; */
        left: 50%;
        /* bottom: 40px; */
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 800px) {

    .hero_header {
        white-space: nowrap;
        display: unset;
        z-index: 1;
    }

    .sub_header {
        font-size: 1.125rem;
        text-align: left;
        width: 100%;
        max-width: 400px;
    }

    .shop_fixed {
        display: none;
    }

    .shop {
        display: unset;
        width: max-content;
        margin-top: 12px;
    }

    .benefits {
        position: absolute;
        bottom: 60px;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 80px;
        padding-inline: unset;
        padding-top: unset;
    }
    
    .benefit {
       font-size: .875rem;
       position: relative;
       z-index: 0;
    }

    .benefit::before {
        content: '';
        position: absolute;
        top: -20px;
        width: 40px;
        height: 2px;
        background-color: var(--ff-secondary);
        border-radius: var(--border-radius-sm);
        z-index: 1;
        left: 0;
        transform: unset;
    }

    .paws {
        display: none;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 0;
    }
    
}