.categories {
    --gap: clamp(1.5rem, 4vw, 40px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: var(--gap);
    overflow-x: auto;
    padding-inline: var(--padding);
    padding-bottom: .5rem;
}

.categories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.category_img {
    position: relative;
    width: calc((100vw - (var(--gap)*5) - (var(--padding)*2)) / 6);
    min-width: 85px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
}

.category p {
    font-size: clamp(.75rem, 1.5vw, 1rem);
    text-transform: uppercase;
    font-weight: 600;
}